/*nav-bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    display: inline;
    float: left;
}
li.signup{
	float: right;
}
li.login{
	float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*title*/
.title{
	text-align: center;
	font: 
}
/*search*/
.search{
	text-align: center;
	display: block;
	margin: 0;
    padding: 0;
}